.PokemonListWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}
.button{
padding: 2.5rem 0;
display: flex;
justify-content: center;
}
.button button{
    padding: 10px;
    margin: 0.5rem;
}